<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Book Form</title>
    <link rel="stylesheet" href="{%static 'css/BRMstyle.css'%}">
  </head>
  <body>
    <div id="head">
      <h1>Book Record Management</h1>
      <div id="nav">
          <a href="/BRM_app/view-books">View All</a>
          <a href="/BRM_app/new-book">Add New Book</a>
          <a href="/BRM_app/search-book">Search</a>
          <a href="/BRM_app/logout/">Logout</a>
      </div>
    </div>
    <div id="main">
      <h2>Add New Book Record</h2>
      <form action="BRM_app/add" method="post">
        {%csrf_token%}
        {{form}}
        <input type="submit" value="Add">
      </form>
    </div>

  </body>
</html>
