<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static 'css/BRMstyle.css'%}">
    <title>View Book Records</title>
  </head>
  <body>
    <div id="head">
      <h1>Book Record Management</h1>
      <div id="nav">
        <a href="/BRM_app/view-books">View All</a>
        <a href="/BRM_app/new-book">Add New Book</a>
        <a href="/BRM_app/search-book">Search</a>
        <a href="/BRM_app/logout/">Logout</a>
      </div>
      <h2>HELLO!!!, {{username}}</h2>
    </div>
    <div id="main">
      <h2>View Book Records</h2>
      <table>
        <thead>
          <th>Book Title</th>
          <th>Price</th>
          <th>Author</th>
          <th>Publisher</th>
        </thead>
        {%for book in books%}
        <tr>
          <td>{{book.Title}}</td>
          <td>{{book.Price}}</td>
          <td>{{book.Author}}</td>
          <td>{{book.Publisher}}</td>
          <td><a class="btn" href="/BRM_app/edit-book?bookid={{book.id}}">Edit</a></td>
          <td><a class="btn" href="/BRM_app/delete-book?bookid={{book.id}}">Delete</a></td>
          {%endfor%}
        </tr>
      </table>
    </div>

  </body>
</html>
